In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('../Volve Full data.xlsx')

In [5]:
df.describe()

,DATEPRD,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,...,BORE_GAS_RATE (MMscfd),BORE_WAT_VOL,BORE_WATER_RATE (stb/d),BORE_WI_VOL,BORE_WI_RATE (stb/d),GOR (scf/stb),WC (%),Cum Oil (MMstb),Cum Gas (Bscf),Cum Water
count,15634,15349.000000,8980.000000,8980.000000,8980.000000,7890.000000,8919.000000,9155.000000,9146.000000,15340.000000,...,15634.000000,9161.000000,15634.000000,6398.000000,15634.000000,15634.000000,15634.000000,15634.000000,0.0,0.0
mean,2012-11-07 17:39:58.004349440,19.994093,181.803869,77.162969,154.028787,14.856100,55.168533,45.377811,67.728440,11.441060,...,3.332182,1672.151332,6163.096957,-4740.564791,-12202.669816,436.950121,27.423600,0.071569,NaN,NaN
min,2007-09-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,-457.840000,-2879.813600,-10013.600000,-62985.544000,0.000000,-261.443582,0.000000,NaN,NaN
25%,2010-07-30 00:00:00,24.000000,0.000000,0.000000,83.665361,10.841437,18.952989,31.148062,56.577834,0.000000,...,0.000000,19.870000,0.000000,-6540.381954,-28439.827791,0.000000,0.000000,0.000000,NaN,NaN
50%,2013-05-08 00:00:00,24.000000,232.896939,103.186689,175.588861,16.308598,52.096877,37.933620,80.071250,2.384969,...,0.581120,1097.790000,0.000000,-5193.853615,0.000000,771.226940,0.000000,0.000000,NaN,NaN
75%,2015-02-19 00:00:00,24.000000,255.401455,106.276591,204.319964,21.306125,99.924288,57.101268,88.062202,13.765020,...,4.107056,3260.950000,10698.063450,-3746.705942,0.000000,851.385141,64.913776,0.000000,NaN,NaN
max,2016-12-01 00:00:00,25.000000,397.588550,108.502178,345.906770,30.019828,100.000000,137.311030,93.509584,125.718570,...,30.053454,8019.740000,50444.164600,0.000000,0.000000,6232.216734,100.000000,9.755646,NaN,NaN
std,NaN,8.369978,109.712363,45.657948,76.752373,8.406822,36.692924,24.752631,27.719028,19.816928,...,5.805511,1706.982853,9715.369815,2640.064629,18105.524601,431.505674,36.421251,0.495831,NaN,NaN

In [7]:
df.sample(6)

,DATEPRD,NPD_WELL_BORE_NAME,ON_STREAM_HRS,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_CHOKE_UOM,AVG_WHP_P,...,BORE_GAS_RATE (MMscfd),BORE_WAT_VOL,BORE_WATER_RATE (stb/d),BORE_WI_VOL,BORE_WI_RATE (stb/d),GOR (scf/stb),WC (%),Cum Oil (MMstb),Cum Gas (Bscf),Cum Water
9087,2007-11-26,15/9-F-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,0.0000,NaN,0.000000,0.000000,0.000000,0.0,NaN,NaN
13237,2010-02-26,15/9-F-5,14.19167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,0.0000,-6560.239992,-41263.909552,0.000000,0.000000,0.0,NaN,NaN
5744,2010-04-07,15/9-F-14,24.00000,246.050042,106.428927,188.988362,0.000000,44.619109,%,57.061680,...,12.866016,2832.17,17814.3493,NaN,0.000000,796.762064,52.453421,0.0,NaN,NaN
10247,2011-01-29,15/9-F-4,24.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,0.0000,-6268.976195,-39431.860269,0.000000,0.000000,0.0,NaN,NaN
6918,2013-09-06,15/9-F-14,24.00000,248.072418,100.458362,216.051594,21.459428,100.000000,%,32.020824,...,4.008873,3877.39,24388.7831,NaN,0.000000,830.065214,83.470715,0.0,NaN,NaN
4392,2015-02-21,15/9-F-12,24.00000,0.000000,0.000000,56.758287,29.263902,33.137257,%,56.758287,...,3.635395,607.17,3819.0993,NaN,0.000000,838.212357,46.824607,0.0,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15634 entries, 0 to 15633
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DATEPRD                   15634 non-null  datetime64[ns]
 1   NPD_WELL_BORE_NAME        15634 non-null  object
 2   ON_STREAM_HRS             15349 non-null  float64
 3   AVG_DOWNHOLE_PRESSURE     8980 non-null   float64
 4   AVG_DOWNHOLE_TEMPERATURE  8980 non-null   float64
 5   AVG_DP_TUBING             8980 non-null   float64
 6   AVG_ANNULUS_PRESS         7890 non-null   float64
 7   AVG_CHOKE_SIZE_P          8919 non-null   float64
 8   AVG_CHOKE_UOM             9161 non-null   object
 9   AVG_WHP_P                 9155 non-null   float64
 10  AVG_WHT_P                 9146 non-null   float64
 11  DP_CHOKE_SIZE             15340 non-null  float64
 12  BORE_OIL_VOL              9161 non-null   float64
 13  BORE_OIL_RATE (stb/d)     15634 non-null  float64
 14  BORE_GAS_VOL              9161 non-null   float64
 15  BORE_GAS_RATE (MMscfd)    15634 non-null  float64
 16  BORE_WAT_VOL              9161 non-null   float64
 17  BORE_WATER_RATE (stb/d)   15634 non-null  float64
 18  BORE_WI_VOL               6398 non-null   float64
 19  BORE_WI_RATE (stb/d)      15634 non-null  float64
 20  GOR (scf/stb)             15634 non-null  float64
 21  WC (%)                    15634 non-null  float64
 22  Cum Oil (MMstb)           15634 non-null  float64
 23  Cum Gas (Bscf)            0 non-null      float64
 24  Cum Water                 0 non-null      float64
dtypes: datetime64[ns](1), float64(22), object(2)
memory usage: 3.0+ MB

In [10]:
df.drop(columns=['Cum Gas (Bscf)', 'Cum Water'], inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15634 entries, 0 to 15633
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DATEPRD                   15634 non-null  datetime64[ns]
 1   NPD_WELL_BORE_NAME        15634 non-null  object
 2   ON_STREAM_HRS             15349 non-null  float64
 3   AVG_DOWNHOLE_PRESSURE     8980 non-null   float64
 4   AVG_DOWNHOLE_TEMPERATURE  8980 non-null   float64
 5   AVG_DP_TUBING             8980 non-null   float64
 6   AVG_ANNULUS_PRESS         7890 non-null   float64
 7   AVG_CHOKE_SIZE_P          8919 non-null   float64
 8   AVG_CHOKE_UOM             9161 non-null   object
 9   AVG_WHP_P                 9155 non-null   float64
 10  AVG_WHT_P                 9146 non-null   float64
 11  DP_CHOKE_SIZE             15340 non-null  float64
 12  BORE_OIL_VOL              9161 non-null   float64
 13  BORE_OIL_RATE (stb/d)     15634 non-null  float64
 14  BORE_GAS_VOL              9161 non-null   float64
 15  BORE_GAS_RATE (MMscfd)    15634 non-null  float64
 16  BORE_WAT_VOL              9161 non-null   float64
 17  BORE_WATER_RATE (stb/d)   15634 non-null  float64
 18  BORE_WI_VOL               6398 non-null   float64
 19  BORE_WI_RATE (stb/d)      15634 non-null  float64
 20  GOR (scf/stb)             15634 non-null  float64
 21  WC (%)                    15634 non-null  float64
 22  Cum Oil (MMstb)           15634 non-null  float64
dtypes: datetime64[ns](1), float64(20), object(2)
memory usage: 2.7+ MB

In [14]:
df.to_csv('../Backend/data/wells.csv')